bin
/MultipleDbContexts.ConsoleApp/obj
/MultipleDbContexts.First/obj
/MultipleDbContexts.First/bin
/MultipleDbContexts.Second/bin
/MultipleDbContexts.Second/obj
/FluentApi.Database/bin
/FluentApi.Database/obj
/FluentApi.ConsoleApp/bin
/FluentApi.ConsoleApp/obj
/ExistingDatabase.Database/bin
/ExistingDatabase.Database/obj
/ExistingDatabase.ConsoleApp/obj
/ExistingDatabase.ConsoleApp/bin
/ConfigureMappings.Database/bin
/ConfigureMappings.Database/obj
/ConfigureMappings.ConsoleApp/obj
/ConfigureMappings.ConsoleApp/bin
/DataAnnotations.ConsoleApp/obj
/DataAnnotations.ConsoleApp/bin
/DataAnnotations.Database/obj
/DataAnnotations.Database/bin
